In [133]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('students.csv')

In [3]:
pd.set_option("display.max_columns", 40)

In [4]:
df.sample(15)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,final_score,grade
358,GP,F,18,U,LE3,T,4,3,health,services,course,mother,2,1,0,no,yes,no,no,yes,yes,yes,no,3,2,4,1,4,1,8,15,high
334,GP,M,18,U,GT3,T,2,1,services,services,reputation,mother,1,3,0,no,no,no,yes,yes,yes,yes,no,4,2,4,1,3,2,0,15,high
573,MS,F,17,U,GT3,T,1,1,other,at_home,course,mother,1,1,0,no,yes,no,yes,yes,yes,no,no,4,3,2,1,2,5,9,10,average
7,GP,F,17,U,GT3,A,4,4,other,teacher,home,mother,2,2,0,yes,yes,no,no,yes,yes,no,no,4,1,4,1,1,1,2,13,average
469,MS,M,16,U,GT3,T,4,4,other,teacher,course,father,1,2,0,no,yes,no,yes,yes,yes,no,yes,4,3,1,1,1,3,0,13,average
8,GP,M,15,U,LE3,A,3,2,services,other,home,mother,1,2,0,no,yes,no,no,yes,yes,yes,no,4,2,2,1,1,1,0,17,high
615,MS,F,17,U,LE3,A,3,2,services,other,reputation,mother,2,2,0,no,no,no,no,yes,yes,no,yes,1,2,3,1,2,5,0,15,high
33,GP,M,15,U,LE3,T,3,3,other,other,course,mother,1,2,0,no,no,no,yes,no,yes,yes,no,5,3,2,1,1,2,0,12,average
461,MS,F,16,R,GT3,T,1,1,at_home,other,other,mother,2,1,0,no,no,no,yes,yes,yes,yes,yes,4,2,2,4,3,2,0,14,high
408,GP,M,18,U,LE3,T,2,2,services,services,reputation,mother,1,2,0,no,yes,no,yes,no,no,yes,no,4,4,4,1,3,3,11,12,average
282,GP,M,18,U,GT3,T,3,2,services,other,course,mother,2,1,0,no,no,no,no,yes,no,yes,no,4,4,5,2,4,5,8,7,average
609,MS,F,18,U,GT3,T,1,2,at_home,at_home,course,father,2,2,0,no,yes,no,no,yes,no,no,no,4,1,1,1,1,4,0,12,average
285,GP,M,16,R,GT3,T,2,1,other,other,course,mother,2,1,0,no,no,no,yes,no,yes,no,no,3,3,2,1,3,3,2,12,average
52,GP,M,15,U,LE3,A,4,2,health,health,other,father,2,1,0,no,no,no,no,yes,yes,no,no,5,5,5,3,4,5,4,9,average
150,GP,F,15,U,GT3,A,3,3,services,services,home,mother,1,2,0,no,no,no,no,no,yes,no,yes,1,3,2,2,3,1,24,9,average

In [5]:
df.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'final_score', 'grade'],
      dtype='object')

After doing some data eda i decided to choose these features:

In [6]:
features_chosen = ['school', 'address', 'schoolsup', 'paid', 'activities', 'higher', 'internet', 'Mjob', 'Fjob', 'Medu',
                   'Fedu', 'studytime', 'failures', 'freetime', 'Dalc', 'final_score']

features_cat = df[features_chosen].select_dtypes(include=['object']).columns
features_num = df[features_chosen].select_dtypes(include=['int64']).columns

In [7]:
df_dum = pd.get_dummies(df[features_cat], drop_first=True)

In [8]:
df_fin = pd.concat([df_dum, df[features_num]], axis=1)

In [9]:
df_fin

,school_MS,address_U,schoolsup_yes,paid_yes,activities_yes,higher_yes,internet_yes,Mjob_health,Mjob_other,Mjob_services,Mjob_teacher,Fjob_health,Fjob_other,Fjob_services,Fjob_teacher,Medu,Fedu,studytime,failures,freetime,Dalc,final_score
0,0,1,1,0,0,1,0,0,0,0,0,0,0,0,1,4,4,2,0,3,1,11
1,0,1,0,0,0,1,1,0,0,0,0,0,1,0,0,1,1,2,0,3,1,11
2,0,1,1,0,0,1,1,0,0,0,0,0,1,0,0,1,1,2,0,3,2,12
3,0,1,0,0,1,1,1,1,0,0,0,0,0,1,0,4,2,3,0,2,1,14
4,0,1,0,0,0,1,0,0,1,0,0,0,1,0,0,3,3,2,0,3,1,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,1,0,0,0,1,1,1,0,0,1,0,0,1,0,0,2,3,3,1,4,1,10
645,1,1,0,0,0,1,1,0,0,0,1,0,0,1,0,3,1,2,0,3,1,16
646,1,1,0,0,1,1,0,0,1,0,0,0,1,0,0,1,1,2,0,1,1,9
647,1,1,0,0,0,1,1,0,0,1,0,0,0,1,0,3,1,1,0,4,3,10
648,1,0,0,0,0,1,1,0,0,1,0,0,1,0,0,3,2,1,0,4,3,11

In [112]:
X = df_fin.drop('final_score', axis=1)
y = df_fin.final_score.values

In [139]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=40)

In [140]:
from sklearn.model_selection import KFold
from sklearn import metrics

In [141]:
kf = KFold(n_splits=5, random_state=40)

In [151]:
def cross_val_score(model, X=X_train, y=y_train):
    kf = KFold(n_splits=5)
    R2 = []
    MSE = []
    MAE = []
    MQE = []
    for train_index, test_index in kf.split(X, y):
        X_train_f, X_test_f = np.array(X)[train_index], np.array(X)[test_index]
        y_train_f, y_test_f = np.array(y)[train_index], np.array(y)[test_index]
        
    model.fit(X_train_f, y_train_f)
    y_pred = model.predict(X_test_f)
        
    R2.append(metrics.r2_score(y_test_f, y_pred))
    MSE.append(metrics.mean_squared_error(y_test_f, y_pred))
    MAE.append(metrics.mean_absolute_error(y_test_f, y_pred))
    MQE.append(metrics.mean_absolute_error(y_test_f, np.round(y_pred)))

    return {'R2':np.mean(R2), 'MSE':np.mean(MSE), 'MAE':np.mean(MAE), 'MQE':np.mean(MQE)}

In [154]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn import linear_model
from sklearn.neighbors import KNeighborsRegressor


models=[linear_model.LinearRegression(),
        linear_model.Lasso(),
        linear_model.TheilSenRegressor(),
        linear_model.HuberRegressor(),
        linear_model.BayesianRidge(),
        linear_model.PassiveAggressiveRegressor(),
        linear_model.LogisticRegression(),
        DecisionTreeRegressor(),
        KNeighborsRegressor(),
        GradientBoostingRegressor(),
        RandomForestRegressor()]

In [155]:
for model in models: 
    print(type(model).__name__)
    print(cross_val_score(model))

LinearRegression
{'R2': 0.21989195381349758, 'MSE': 8.68670252737818, 'MAE': 2.096739005813339, 'MQE': 2.0775862068965516}
Lasso
{'R2': -0.0017972751238040097, 'MSE': 11.155268766011469, 'MAE': 2.495137046861185, 'MQE': 2.4827586206896552}
TheilSenRegressor
{'R2': 0.20583195572904023, 'MSE': 8.843264200459538, 'MAE': 2.1423517976860067, 'MQE': 2.0948275862068964}
HuberRegressor
{'R2': 0.2184971612976344, 'MSE': 8.702233898618287, 'MAE': 2.1017797962751787, 'MQE': 2.0948275862068964}
BayesianRidge
{'R2': 0.23555390492753459, 'MSE': 8.512302697776303, 'MAE': 2.06240829181221, 'MQE': 2.0344827586206895}
PassiveAggressiveRegressor
{'R2': 0.14232333514200202, 'MSE': 9.55044892655046, 'MAE': 2.2584357612525383, 'MQE': 2.2327586206896552}
LogisticRegression
{'R2': -0.0304332737125923, 'MSE': 11.474137931034482, 'MAE': 2.3706896551724137, 'MQE': 2.3706896551724137}
DecisionTreeRegressor
{'R2': -0.5158439894284417, 'MSE': 16.879310344827587, 'MAE': 2.9827586206896552, 'MQE': 2.9827586206896552}
KNeighborsRegressor
{'R2': 0.12660135081021917, 'MSE': 9.725517241379311, 'MAE': 2.2482758620689656, 'MQE': 2.2155172413793105}
GradientBoostingRegressor
{'R2': 0.11747127623907261, 'MSE': 9.82718295581468, 'MAE': 2.1963370818129326, 'MQE': 2.189655172413793}
RandomForestRegressor

C:\Users\Pepe\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

{'R2': 0.11314244465215473, 'MSE': 9.875385602192313, 'MAE': 2.2830080049261086, 'MQE': 2.3275862068965516}